<h1>Payables</h1>
<%= link_to "New", new_payable_path %>
<% @payables.each do |row| %>
  <p><%= link_to row.payee, row %> - <%= row.status %> - <%= row.due_on %>
  <% unless row.paid? %><%= button_to "Mark Paid", mark_paid_payable_path(row), method: :patch %><% end %></p>
<% end %>
