<h1>New Stock Movement</h1>
<%= form_with model: @stock_movement do |f| %>
  <p><%= f.select :movement_type, StockMovement.movement_types.keys %></p>
  <p><%= f.collection_select :product_id, current_business.products, :id, :name %></p>
  <p><%= f.number_field :quantity, step: 0.01 %></p>
  <p><%= f.collection_select :from_location_id, current_business.locations, :id, :name, include_blank: true %></p>
  <p><%= f.collection_select :to_location_id, current_business.locations, :id, :name, include_blank: true %></p>
  <p><%= f.date_field :occurred_on %></p>
  <%= f.submit %>
<% end %>
